<link rel="stylesheet" href="../public/css/style.css">

<div id="historial">
    <div id="messages"></div>
</div>
<input type="text" id="message" />
<button id="send" onclick="sendMessage()">Enviar</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>